 
 
 body {
     background-color: #F4EAEA;
   font-family: 'Orbitron';
 }
 nav, h1, #middle {
     text-align: center;
 }
.zuko {
   height: 500px;
   width: 500px
}

.nav-link {
    font-size: 25px;
    padding: 10px
}

.jumbotron {
    background: linear-gradient( #e3f2fd, #B6EAD5);
    font-size: 50px;
    color: #01015C;
    font-family: 'Frijole'
}
 h1 {
     font-family: 'Frijole';
 }

 span {
     font-weight: bold;
     font-size: 20px;
 }
 .btn {
     margin: 30px;
 }

 .wins {
     font-size: 40px;
 }
