
<div class="container">
<h1> The Players</h1>

<section class="container">
   <p id="middle"> Select a charater to play</p>
    <div class="col-md-4">
            <a href="#!/percy"><img class="img-responsive img-circle" src="https://i.pinimg.com/736x/52/97/05/52970581e7d164c7a2209aebe38bba1b--percy-jackson-drawings-percy-jackson-art.jpg" alt=""></a>
        </div>
            <div class="col-md-4">
            <a href="#!/wonderwoman"><img class="img-responsive img-circle" src="https://img0.etsystatic.com/116/1/6804182/il_fullxfull.1042408510_22f9.jpg" alt=""></a>
            </div>
            <div class="col-md-4">
            <a href="#!/zuko"><img class="img-responsive img-circle" src="https://68.media.tumblr.com/1a04de69f6aba12c641591bc39852f6d/tumblr_ol4hxbkQuE1tju764o1_500.jpg" alt=""></a>
            </div>
</section>
</div>