<h1> Percy Jackson</h1>
<section class="container">
    <div class="row">
    <img class= "img-rounded col-md-6" src="http://cdn.playbuzz.com/cdn/4559ee64-ac70-4be8-87a5-660f5f17ff6b/c3764d16-d826-47f2-9be4-2387d01d8d77.jpg" alt="">
    <div class="col-md-6">
        <p><span>About:</span><br> Percy Jackson is the main protagonist in the Percy Jackson & the Olympians series. <br></p>
        <ul>Skills:
            <li>Can breathe underwater</li>
            <li>Handy with a sword</li>
            <li>Is a Demi God, so general badassery</li>
        </ul>
        <a href="https://en.wikipedia.org/wiki/Percy_Jackson">Percy's Wikipedia Page</a><br>
        <button class="btn btn-success" ng-click="PC.highFive()">HIGH FIVE</button>
    <div class="wins">Wins: {{PC.wins}} out of {{PC.totalHighFives}}</div>
    </div>
    </div>
    </section>
