<h1> Wonder Woman</h1>

<section class="container">
        <div class="row">
    <img  class= "img-rounded col-md-6" src="http://www.dccomics.com/sites/default/files/styles/recent_activity_lrg_horizontal/public/field/image/SndtkIntBlog_5939e356ee8582.70133890.jpg?itok=YF4IhswI" alt="">
        <div class="col-md-6">
            <p><span>About:</span><br> Wonder Woman (Princess Diana of Themyscira, Daughter of Hippolyta) is a Charater in DC's Superman comics and movies <br></p>
            <ul>Skills:
                <li>Superhuman strength</li>
                <li>indestructible bracelets</li>
                <li>Is a Demigoddess Princess of awesome</li>
            </ul>
    <a href="https://en.wikipedia.org/wiki/Wonder_Woman">Wonder Woman's Wikipedia Page</a><br>
            <button class="btn btn-success btn-lg" ng-click="WC.highFive()">HIGH FIVE</button>
            <div class="wins">Wins: {{WC.wins}} out of {{WC.totalHighFives}}</div>
        </div>
            </div>
</section>