<h1> Zuko</h1>

<section class="container">
    <div class="row">
       <img  class= "img-rounded zuko col-md-6"src="https://vignette2.wikia.nocookie.net/villains/images/2/23/Principe_zuko_by_yuzumi2000-d6lbrj4.png/revision/latest?cb=20170611234341" alt="">
    <div class="col-md-6">
        <p>About:<br> Zuko is a Charater in nickelodeon's Avatar the Last Aribender. He is the son of the main antagonist, Fire Lord Ozi<br></p>
        <ul>Skills:
            <li>Firebending master</li>
            <li>Works them dual broadswards </li>
            <li>Moody AF</li>
        </ul>
       <a href="https://en.wikipedia.org/wiki/Zuko">Wikipedia Page</a><br>
                <button ng-click="ZC.highFive()">HIGH FIVE</button>
                <div>Wins: {{ZC.wins}} out of {{ZC.totalHighFives}}</div>
                </div>
    </div>
</section>
  
